<a href="https://colab.research.google.com/github/Junjaee/Study/blob/main/Python_Data_Analytics_Library/06_%EB%B6%84%EC%84%9D%EC%98%88%EC%A0%9C3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

import matplotlib as mpl
import matplotlib.font_manager as fm
fm.FontProperties(fname = "맑은 고딕")
mpl.rcParams["axes.unicode_minus"] = False # 음수표시

import seaborn as sns

plt.style.use("fivethirtyeight")

import warnings
warnings.filterwarnings("ignore")

### 서울시 구별 범죄 현황 분석

- 부제
    - CCTV와 범죄, 검거율에 관계가 있는가?
    - 강남 3구는 과연 범죄 발생율이 낮고 검거율이 높은가?

#### 1. 데이터 준비

- https://www.data.go.kr
- 구글에서 "서울시 관서별 5대범되 발생검거 현황" 검색
- crime_in_seoul.csv

In [2]:
##### 데이터 불러오기 및 확인
from google.colab import files
myfile = files.upload()

Saving crime_in_seoul.csv to crime_in_seoul.csv

In [7]:
##### 범죄현황 자료
import io

crime_anal_police = pd.read_csv(io.BytesIO(myfile['crime_in_seoul.csv']), encoding = "euc-kr", thousands = ",")
crime_anal_police.head(50)

     관서명  살인 발생  살인 검거  강도 발생  강도 검거  강간 발생  강간 검거  절도 발생  절도 검거  폭력 발생  폭력 검거
0    중부서      2      2      3      2    105     65   1395    477   1355   1170
1    종로서      3      3      6      5    115     98   1070    413   1278   1070
2   남대문서      1      0      6      4     65     46   1153    382    869    794
3   서대문서      2      2      5      4    154    124   1812    738   2056   1711
4    혜화서      3      2      5      4     96     63   1114    424   1015    861
5    용산서      5      5     14     14    194    173   1557    587   2050   1704
6    성북서      2      2      2      1     86     71    953    409   1194   1015
7   동대문서      5      5     13     13    173    146   1981    814   2548   2227
8    마포서      8      8     14     10    294    247   2555    813   2983   2519
9   영등포서     14     12     22     20    295    183   2964    978   3572   2961
10   성동서      4      4      9      8    126    119   1607    597   1612   1395
11   동작서      5      5      9      5    285    139   1865    661   1910   1587
12   광진서      4      4     14     26    240    220   3026   1277   2625   2180
13   서부서      2      2      2      1     70     59    819    293   1192   1038
14   강북서      7      8     14     13    153    126   1434    618   2649   2348
15   금천서      3      4      6      6    151    122   1567    888   2054   1776
16   중랑서     13     12     11      9    187    148   2135    829   2847   2407
17   강남서      3      3     15     12    300    225   2411    984   2465   2146
18   관악서      9      8     12     14    320    221   2706    827   3298   2642
19   강서서      7      8     13     13    262    191   2096   1260   3207   2718
20   강동서      4      3      6      8    156    123   2366    789   2712   2248
21   종암서      3      3      3      3     64     53    832    332   1015    840
22   구로서      8      6     15     11    281    164   2335    889   3007   2432
23   서초서      7      4      8      5    334    193   1982    905   1852   1607
24   양천서      3      5      6      3    120    105   1890    672   2509   2030
25   송파서     11     10     13     10    220    178   3239   1129   3295   2786
26   노원서     10     10      7      7    197    121   2193    801   2723   2329
27   방배서      1      2      1      1     59     56    653    186    547    491
28   은평서      1      1      7      5     96     82   1095    418   1461   1268
29   도봉서      3      3      9     10    102    106   1063    478   1487   1303
30   수서서     10      7      6      6    149    124   1439    666   1819   1559

In [8]:
crime_anal_police.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 11 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   관서명     31 non-null     object
 1   살인 발생   31 non-null     int64
 2   살인 검거   31 non-null     int64
 3   강도 발생   31 non-null     int64
 4   강도 검거   31 non-null     int64
 5   강간 발생   31 non-null     int64
 6   강간 검거   31 non-null     int64
 7   절도 발생   31 non-null     int64
 8   절도 검거   31 non-null     int64
 9   폭력 발생   31 non-null     int64
 10  폭력 검거   31 non-null     int64
dtypes: int64(10), object(1)
memory usage: 2.8+ KB

#### 2. EDA & Preprocessing

##### 2-1. 관서명을 구 이름으로 변경

- https://ko.wikipedia.org/wiki/서울특별시지방경찰청
- GoogleMap API를 이용하여 주소 획득
    - developers.google.com

In [9]:
pip install googlemaps

Collecting googlemaps
  Downloading https://files.pythonhosted.org/packages/32/d0/3e02a031197a6e9499833dd15edd92675097438569b24a1ca8f9904a1c69/googlemaps-4.4.5.tar.gz
Requirement already satisfied: requests<3.0,>=2.20.0 in /usr/local/lib/python3.7/dist-packages (from googlemaps) (2.23.0)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests<3.0,>=2.20.0->googlemaps) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests<3.0,>=2.20.0->googlemaps) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests<3.0,>=2.20.0->googlemaps) (2020.12.5)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests<3.0,>=2.20.0->googlemaps) (1.24.3)
Building wheels for collected packages: googlemaps
  Building wheel for googlemaps (setup.py) ... done
  Created wheel for googlemaps: filename=googlemaps-4.4.5-cp37-none-any.whl size=37995 sha256=15c4497ea705294c7fb41f84cbb199cfe27d2471a825687823e81ab3f242baad
  Stored in directory: /root/.cache/pip/wheels/fb/24/33/51b0faba1170f6519eae3c51b6adbd9939296c73f54230b069
Successfully built googlemaps
Installing collected packages: googlemaps
Successfully installed googlemaps-4.4.5

In [10]:
import googlemaps

In [11]:
g_key = "AIzaSyCg1MPJNTiSJv8MedtOuDb0rZWCTG4JRAI"
gmap = googlemaps.Client(key = g_key)
gmap

In [ ]:
gmap.geocode("서울중부경찰서", language = "ko")

"""
[{'address_components': [{'long_name': '４０３',
    'short_name': '４０３',
    'types': ['premise']},
   {'long_name': '노해로',
    'short_name': '노해로',
    'types': ['political', 'sublocality', 'sublocality_level_4']},
   {'long_name': '창4동',
    'short_name': '창4동',
    'types': ['political', 'sublocality', 'sublocality_level_2']},
   {'long_name': '도봉구',
    'short_name': '도봉구',
    'types': ['political', 'sublocality', 'sublocality_level_1']},
   {'long_name': '서울특별시',
    'short_name': '서울특별시',
    'types': ['administrative_area_level_1', 'political']},
   {'long_name': '대한민국',
    'short_name': 'KR',
    'types': ['country', 'political']},
   {'long_name': '132-040',
    'short_name': '132-040',
    'types': ['postal_code']}],
  'formatted_address': '대한민국 서울특별시 도봉구 창4동 노해로 403',
  'geometry': {'location': {'lat': 37.6533589, 'lng': 127.052682},
   'location_type': 'ROOFTOP',
   'viewport': {'northeast': {'lat': 37.6547078802915,
     'lng': 127.0540309802915},
    'southwest': {'lat': 37.6520099197085, 'lng': 127.0513330197085}}},
  'place_id': 'ChIJTUiMyEW5fDURH_6VenyTTpw',
  'plus_code': {'compound_code': 'M333+83 대한민국 서울특별시',
   'global_code': '8Q99M333+83'},
  'types': ['establishment', 'point_of_interest', 'police']}]
"""

In [ ]:
# ['대한민국 서울특별시 중구 을지로동 수표로 27', '대한민국 서울특별시 종로구 종로1.2.3.4가동 율곡로 46', '대한민국 서울특별시 중구 회현동 한강대로 410', '대한민국 서울특별시 서대문구 충현동 통일로 113', '대한민국 서울특별시 종로구 인의동 창경궁로 112-16', '대한민국 서울특별시 용산구 원효로1가 백범로 329', '대한민국 서울특별시 성북구 삼선동5가 301', '대한민국 서울특별시 동대문구 청량리동 약령시로21길 29', '대한민국 서울특별시 마포구 아현동 마포대로 183', '대한민국 서울특별시 영등포구 영등포동1가 618-7', '대한민국 서울특별시 성동구 행당동 왕십리광장로 9', '대한민국 서울특별시 동작구 노량진1동 노량진로 148', '대한민국 서울특별시 광진구 구의동 자양로 167', '대한민국 서울특별시 은평구 녹번동 진흥로 58', '대한민국 서울특별시 강북구 번1동 오패산로 406', '대한민국 서울특별시 금천구 시흥1동 시흥대로73길 50', '대한민국 서울특별시 중랑구 신내동 신내역로3길 40-10', '대한민국 서울특별시 강남구 대치동 998', '대한민국 서울특별시 관악구 봉천동', '대한민국 서울특별시 양천구 신월동 화곡로 73', '대한민국 서울특별시 강동구 성내1동 성내로 57', '대한민국 서울특별시 성북구 종암동 종암로 135', '대한민국 서울특별시 구로구 구로동 가마산로 235', '대한민국 서울특별시 서초구 서초3동 반포대로 179', '대한민국 서울특별시 양천구 신정6동 목동동로 99', '대한민국 서울특별시 송파구 가락동 중대로 221', '대한민국 서울특별시 노원구 하계동 노원로 283', '대한민국 서울특별시 서초구 방배본동 동작대로 204', '대한민국 서울특별시 은평구 불광동 연서로 365', '대한민국 서울특별시 도봉구 창4동 노해로 403', '대한민국 서울특별시 강남구 개포동 개포로 617']
# [37.5636465, 37.5755578, 37.5547584, 37.5647439, 37.5718529, 37.5387099, 37.5897482, 37.58506149999999, 37.550814, 37.5153176, 37.5617303, 37.5130866, 37.542873, 37.6020914, 37.63730390000001, 37.4568722, 37.6186095, 37.5094352, 37.4743789, 37.5397827, 37.528511, 37.6020592, 37.494931, 37.4956054, 37.5165667, 37.5016941, 37.6425238, 37.4945959, 37.6283597, 37.6533589, 37.49349]
# [126.9895796, 126.9848674, 126.9734981, 126.9667705, 126.9989143, 126.9659183, 127.0161353, 127.0457679, 126.954028, 126.905728, 127.0364217, 126.9428498, 127.083821, 126.9213528, 127.0273399, 126.8970429, 127.1045734, 127.0669578, 126.9509748, 126.8299968, 127.1268224, 127.0321577, 126.886731, 127.0052504, 126.8656763, 127.1272481, 127.0717076, 126.9831279, 126.9287226, 127.052682, 127.0772119]

In [12]:
station_address = ['대한민국 서울특별시 중구 을지로동 수표로 27', '대한민국 서울특별시 종로구 종로1.2.3.4가동 율곡로 46', '대한민국 서울특별시 중구 회현동 한강대로 410', '대한민국 서울특별시 서대문구 충현동 통일로 113', '대한민국 서울특별시 종로구 인의동 창경궁로 112-16', '대한민국 서울특별시 용산구 원효로1가 백범로 329', '대한민국 서울특별시 성북구 삼선동5가 301', '대한민국 서울특별시 동대문구 청량리동 약령시로21길 29', '대한민국 서울특별시 마포구 아현동 마포대로 183', '대한민국 서울특별시 영등포구 영등포동1가 618-7', '대한민국 서울특별시 성동구 행당동 왕십리광장로 9', '대한민국 서울특별시 동작구 노량진1동 노량진로 148', '대한민국 서울특별시 광진구 구의동 자양로 167', '대한민국 서울특별시 은평구 녹번동 진흥로 58', '대한민국 서울특별시 강북구 번1동 오패산로 406', '대한민국 서울특별시 금천구 시흥1동 시흥대로73길 50', '대한민국 서울특별시 중랑구 신내동 신내역로3길 40-10', '대한민국 서울특별시 강남구 대치동 998', '대한민국 서울특별시 관악구 봉천동', '대한민국 서울특별시 양천구 신월동 화곡로 73', '대한민국 서울특별시 강동구 성내1동 성내로 57', '대한민국 서울특별시 성북구 종암동 종암로 135', '대한민국 서울특별시 구로구 구로동 가마산로 235', '대한민국 서울특별시 서초구 서초3동 반포대로 179', '대한민국 서울특별시 양천구 신정6동 목동동로 99', '대한민국 서울특별시 송파구 가락동 중대로 221', '대한민국 서울특별시 노원구 하계동 노원로 283', '대한민국 서울특별시 서초구 방배본동 동작대로 204', '대한민국 서울특별시 은평구 불광동 연서로 365', '대한민국 서울특별시 도봉구 창4동 노해로 403', '대한민국 서울특별시 강남구 개포동 개포로 617']
station_lat = [37.5636465, 37.5755578, 37.5547584, 37.5647439, 37.5718529, 37.5387099, 37.5897482, 37.58506149999999, 37.550814, 37.5153176, 37.5617303, 37.5130866, 37.542873, 37.6020914, 37.63730390000001, 37.4568722, 37.6186095, 37.5094352, 37.4743789, 37.5397827, 37.528511, 37.6020592, 37.494931, 37.4956054, 37.5165667, 37.5016941, 37.6425238, 37.4945959, 37.6283597, 37.6533589, 37.49349]
station_lng = [126.9895796, 126.9848674, 126.9734981, 126.9667705, 126.9989143, 126.9659183, 127.0161353, 127.0457679, 126.954028, 126.905728, 127.0364217, 126.9428498, 127.083821, 126.9213528, 127.0273399, 126.8970429, 127.1045734, 127.0669578, 126.9509748, 126.8299968, 127.1268224, 127.0321577, 126.886731, 127.0052504, 126.8656763, 127.1272481, 127.0717076, 126.9831279, 126.9287226, 127.052682, 127.0772119]

In [14]:
##### 받은 주소에서 구 이름만 추출
df = pd.DataFrame([station_address, station_lat, station_lng]).T
df.columns = ["구별", "위도", "경도"]
df["구별"] = df["구별"].str.split(" ", expand = True)[2]
df

      구별       위도       경도
0     중구  37.5636   126.99
1    종로구  37.5756  126.985
2     중구  37.5548  126.973
3   서대문구  37.5647  126.967
4    종로구  37.5719  126.999
5    용산구  37.5387  126.966
6    성북구  37.5897  127.016
7   동대문구  37.5851  127.046
8    마포구  37.5508  126.954
9   영등포구  37.5153  126.906
10   성동구  37.5617  127.036
11   동작구  37.5131  126.943
12   광진구  37.5429  127.084
13   은평구  37.6021  126.921
14   강북구  37.6373  127.027
15   금천구  37.4569  126.897
16   중랑구  37.6186  127.105
17   강남구  37.5094  127.067
18   관악구  37.4744  126.951
19   양천구  37.5398   126.83
20   강동구  37.5285  127.127
21   성북구  37.6021  127.032
22   구로구  37.4949  126.887
23   서초구  37.4956  127.005
24   양천구  37.5166  126.866
25   송파구  37.5017  127.127
26   노원구  37.6425  127.072
27   서초구  37.4946  126.983
28   은평구  37.6284  126.929
29   도봉구  37.6534  127.053
30   강남구  37.4935  127.077

In [18]:
gu_names = []

for name in station_address:
  tmp = name.split()

  tmp_gu = [gu for gu in tmp if gu[-1] == "구"][0]
  gu_names.append(tmp_gu)

print(gu_names)

['중구', '종로구', '중구', '서대문구', '종로구', '용산구', '성북구', '동대문구', '마포구', '영등포구', '성동구', '동작구', '광진구', '은평구', '강북구', '금천구', '중랑구', '강남구', '관악구', '양천구', '강동구', '성북구', '구로구', '서초구', '양천구', '송파구', '노원구', '서초구', '은평구', '도봉구', '강남구']

In [19]:
##### 테이블에 "구별" 컬럼 추가

crime_anal_police["구별"] = gu_names
crime_anal_police

     관서명  살인 발생  살인 검거  강도 발생  강도 검거  ...  절도 발생  절도 검거  폭력 발생  폭력 검거    구별
0    중부서      2      2      3      2  ...   1395    477   1355   1170    중구
1    종로서      3      3      6      5  ...   1070    413   1278   1070   종로구
2   남대문서      1      0      6      4  ...   1153    382    869    794    중구
3   서대문서      2      2      5      4  ...   1812    738   2056   1711  서대문구
4    혜화서      3      2      5      4  ...   1114    424   1015    861   종로구
5    용산서      5      5     14     14  ...   1557    587   2050   1704   용산구
6    성북서      2      2      2      1  ...    953    409   1194   1015   성북구
7   동대문서      5      5     13     13  ...   1981    814   2548   2227  동대문구
8    마포서      8      8     14     10  ...   2555    813   2983   2519   마포구
9   영등포서     14     12     22     20  ...   2964    978   3572   2961  영등포구
10   성동서      4      4      9      8  ...   1607    597   1612   1395   성동구
11   동작서      5      5      9      5  ...   1865    661   1910   1587   동작구
12   광진서      4      4     14     26  ...   3026   1277   2625   2180   광진구
13   서부서      2      2      2      1  ...    819    293   1192   1038   은평구
14   강북서      7      8     14     13  ...   1434    618   2649   2348   강북구
15   금천서      3      4      6      6  ...   1567    888   2054   1776   금천구
16   중랑서     13     12     11      9  ...   2135    829   2847   2407   중랑구
17   강남서      3      3     15     12  ...   2411    984   2465   2146   강남구
18   관악서      9      8     12     14  ...   2706    827   3298   2642   관악구
19   강서서      7      8     13     13  ...   2096   1260   3207   2718   양천구
20   강동서      4      3      6      8  ...   2366    789   2712   2248   강동구
21   종암서      3      3      3      3  ...    832    332   1015    840   성북구
22   구로서      8      6     15     11  ...   2335    889   3007   2432   구로구
23   서초서      7      4      8      5  ...   1982    905   1852   1607   서초구
24   양천서      3      5      6      3  ...   1890    672   2509   2030   양천구
25   송파서     11     10     13     10  ...   3239   1129   3295   2786   송파구
26   노원서     10     10      7      7  ...   2193    801   2723   2329   노원구
27   방배서      1      2      1      1  ...    653    186    547    491   서초구
28   은평서      1      1      7      5  ...   1095    418   1461   1268   은평구
29   도봉서      3      3      9     10  ...   1063    478   1487   1303   도봉구
30   수서서     10      7      6      6  ...   1439    666   1819   1559   강남구

[31 rows x 12 columns]

In [24]:
# 강서경찰서는 강서구로 변경

crime_anal_police["구별"][19] = "강서구"
crime_anal_police.loc[19]["구별"] = "강서구"

crime_anal_police.loc[crime_anal_police["관서명"] == "강서서", ["구별"]] = "강서구"
crime_anal_police

     관서명  살인 발생  살인 검거  강도 발생  강도 검거  ...  절도 발생  절도 검거  폭력 발생  폭력 검거    구별
0    중부서      2      2      3      2  ...   1395    477   1355   1170    중구
1    종로서      3      3      6      5  ...   1070    413   1278   1070   종로구
2   남대문서      1      0      6      4  ...   1153    382    869    794    중구
3   서대문서      2      2      5      4  ...   1812    738   2056   1711  서대문구
4    혜화서      3      2      5      4  ...   1114    424   1015    861   종로구
5    용산서      5      5     14     14  ...   1557    587   2050   1704   용산구
6    성북서      2      2      2      1  ...    953    409   1194   1015   성북구
7   동대문서      5      5     13     13  ...   1981    814   2548   2227  동대문구
8    마포서      8      8     14     10  ...   2555    813   2983   2519   마포구
9   영등포서     14     12     22     20  ...   2964    978   3572   2961  영등포구
10   성동서      4      4      9      8  ...   1607    597   1612   1395   성동구
11   동작서      5      5      9      5  ...   1865    661   1910   1587   동작구
12   광진서      4      4     14     26  ...   3026   1277   2625   2180   광진구
13   서부서      2      2      2      1  ...    819    293   1192   1038   은평구
14   강북서      7      8     14     13  ...   1434    618   2649   2348   강북구
15   금천서      3      4      6      6  ...   1567    888   2054   1776   금천구
16   중랑서     13     12     11      9  ...   2135    829   2847   2407   중랑구
17   강남서      3      3     15     12  ...   2411    984   2465   2146   강남구
18   관악서      9      8     12     14  ...   2706    827   3298   2642   관악구
19   강서서      7      8     13     13  ...   2096   1260   3207   2718   강서구
20   강동서      4      3      6      8  ...   2366    789   2712   2248   강동구
21   종암서      3      3      3      3  ...    832    332   1015    840   성북구
22   구로서      8      6     15     11  ...   2335    889   3007   2432   구로구
23   서초서      7      4      8      5  ...   1982    905   1852   1607   서초구
24   양천서      3      5      6      3  ...   1890    672   2509   2030   양천구
25   송파서     11     10     13     10  ...   3239   1129   3295   2786   송파구
26   노원서     10     10      7      7  ...   2193    801   2723   2329   노원구
27   방배서      1      2      1      1  ...    653    186    547    491   서초구
28   은평서      1      1      7      5  ...   1095    418   1461   1268   은평구
29   도봉서      3      3      9     10  ...   1063    478   1487   1303   도봉구
30   수서서     10      7      6      6  ...   1439    666   1819   1559   강남구

[31 rows x 12 columns]

##### 2-2. checkpoint

In [ ]:
##### 중간 Checkpoint #####
from google.colab import drive
drive.mount('/content/drive')

crime_anal_police.to_csv("/content/drive/My Drive/Colab Notebooks/crime_anal_police.csv", encoding = "utf-8")

In [29]:
##### 다시 작업 시작 #####
crime_anal_raw = pd.read_csv("/content/drive/My Drive/Colab Notebooks/crime_anal_police.csv", index_col = 0)
crime_anal_raw.head()

    관서명  살인 발생  살인 검거  강도 발생  강도 검거  ...  절도 발생  절도 검거  폭력 발생  폭력 검거    구별
0   중부서      2      2      3      2  ...   1395    477   1355   1170    중구
1   종로서      3      3      6      5  ...   1070    413   1278   1070   종로구
2  남대문서      1      0      6      4  ...   1153    382    869    794    중구
3  서대문서      2      2      5      4  ...   1812    738   2056   1711  서대문구
4   혜화서      3      2      5      4  ...   1114    424   1015    861   종로구

[5 rows x 12 columns]

##### 2-3. 관서명을 없애고 구별을 인덱스로 설정

In [39]:
##### 관서명을 없애고 구별을 인덱스로 설정
##### (관서명 기준이기 때문에 "구별"값이 중복된다. 이것을 해결하기 위한 방법) 
crime_anal = pd.pivot_table(crime_anal_raw, index="구별", aggfunc = "sum")

crime_anal

      강간 검거  강간 발생  강도 검거  강도 발생  살인 검거  살인 발생  절도 검거  절도 발생  폭력 검거  폭력 발생
구별
강남구     349    449     18     21     10     13   1650   3850   3705   4284
강동구     123    156      8      6      3      4    789   2366   2248   2712
강북구     126    153     13     14      8      7    618   1434   2348   2649
강서구     191    262     13     13      8      7   1260   2096   2718   3207
관악구     221    320     14     12      8      9    827   2706   2642   3298
광진구     220    240     26     14      4      4   1277   3026   2180   2625
구로구     164    281     11     15      6      8    889   2335   2432   3007
금천구     122    151      6      6      4      3    888   1567   1776   2054
노원구     121    197      7      7     10     10    801   2193   2329   2723
도봉구     106    102     10      9      3      3    478   1063   1303   1487
동대문구    146    173     13     13      5      5    814   1981   2227   2548
동작구     139    285      5      9      5      5    661   1865   1587   1910
마포구     247    294     10     14      8      8    813   2555   2519   2983
서대문구    124    154      4      5      2      2    738   1812   1711   2056
서초구     249    393      6      9      6      8   1091   2635   2098   2399
성동구     119    126      8      9      4      4    597   1607   1395   1612
성북구     124    150      4      5      5      5    741   1785   1855   2209
송파구     178    220     10     13     10     11   1129   3239   2786   3295
양천구     105    120      3      6      5      3    672   1890   2030   2509
영등포구    183    295     20     22     12     14    978   2964   2961   3572
용산구     173    194     14     14      5      5    587   1557   1704   2050
은평구     141    166      6      9      3      3    711   1914   2306   2653
종로구     161    211      9     11      5      6    837   2184   1931   2293
중구      111    170      6      9      2      3    859   2548   1964   2224
중랑구     148    187      9     11     12     13    829   2135   2407   2847

In [40]:
print(crime_anal.groupby("살인 발생").sum())
print(crime_anal.groupby("살인 검거").sum())

       강간 검거  강간 발생  강도 검거  강도 발생  살인 검거  절도 검거  절도 발생  폭력 검거  폭력 발생
살인 발생
2        124    154      4      5      2    738   1812   1711   2056
3        585    709     31     39     17   3608   8982   9379  10927
4        462    522     42     29     11   2663   6999   5823   6949
5        582    802     36     41     20   2803   7188   7373   8717
6        161    211      9     11      5    837   2184   1931   2293
7        317    415     26     27     16   1878   3530   5066   5856
8        660    968     27     38     20   2793   7525   7049   8389
9        221    320     14     12      8    827   2706   2642   3298
10       121    197      7      7     10    801   2193   2329   2723
11       178    220     10     13     10   1129   3239   2786   3295
13       497    636     27     32     22   2479   5985   6112   7131
14       183    295     20     22     12    978   2964   2961   3572
       강간 검거  강간 발생  강도 검거  강도 발생  살인 발생  절도 검거  절도 발생  폭력 검거  폭력 발생
살인 검거
2        235    324     10     14      5   1597   4360   3675   4280
3        370    424     24     24     10   1978   5343   5857   6852
4        461    517     40     29     11   2762   6200   5351   6291
5        848   1133     48     58     29   4312  11262  11334  13519
6        413    674     17     24     16   1980   4970   4530   5406
8        785   1029     50     53     31   3518   8791  10227  12137
10       648    866     35     41     34   3580   9282   8820  10302
12       331    482     29     33     27   1807   5099   5368   6419

##### 2-4. 각 범죄별 검거율을 계산하여 파생변수 추가하고, 각 검거 컬럼은 삭제

In [41]:
crime_anal['강간검거율'] = crime_anal['강간 검거']/crime_anal['강간 발생']*100
crime_anal['강도검거율'] = crime_anal['강도 검거']/crime_anal['강도 발생']*100
crime_anal['살인검거율'] = crime_anal['살인 검거']/crime_anal['살인 발생']*100
crime_anal['절도검거율'] = crime_anal['절도 검거']/crime_anal['절도 발생']*100
crime_anal['폭력검거율'] = crime_anal['폭력 검거']/crime_anal['폭력 발생']*100

del crime_anal['강간 검거']
del crime_anal['강도 검거']
del crime_anal['살인 검거']
del crime_anal['절도 검거']
del crime_anal['폭력 검거']

In [38]:
crime_anal.head()

     강간 발생  강도 발생  살인 발생  절도 발생  ...       강도검거율       살인검거율      절도검거율      폭력검거율
구별                               ...
강남구    449     21     13   3850  ...   85.714286   76.923077  42.857143  86.484594
강동구    156      6      4   2366  ...  133.333333   75.000000  33.347422  82.890855
강북구    153     14      7   1434  ...   92.857143  114.285714  43.096234  88.637222
강서구    262     13      7   2096  ...  100.000000  114.285714  60.114504  84.752105
관악구    320     12      9   2706  ...  116.666667   88.888889  30.561715  80.109157

[5 rows x 10 columns]

In [42]:
##### "발생" 이라는 단어는 삭제(컬럼 변경)

crime_anal.rename(columns = {"강간 발생" : "강간", "강도 발생" : "강도", "강도 발생" : "강도", 
                             "강도 발생" : "강도", "강도 발생" : "강도"}, inplace = True)
crime_anal.head()

      강간  강도  살인 발생  절도 발생  ...       강도검거율       살인검거율      절도검거율      폭력검거율
구별                          ...
강남구  449  21     13   3850  ...   85.714286   76.923077  42.857143  86.484594
강동구  156   6      4   2366  ...  133.333333   75.000000  33.347422  82.890855
강북구  153  14      7   1434  ...   92.857143  114.285714  43.096234  88.637222
강서구  262  13      7   2096  ...  100.000000  114.285714  60.114504  84.752105
관악구  320  12      9   2706  ...  116.666667   88.888889  30.561715  80.109157

[5 rows x 10 columns]

In [43]:
##### 검거율에서 100이 넘는 값들은 모두 100으로 맞춰준다

for col in ["강간검거율", "강도검거율", "살인검거율", "절도검거율", "폭력검거율"]:
  crime_anal.loc[crime_anal[col] > 100, col] = 100

crime_anal.head()

      강간  강도  살인 발생  절도 발생  ...       강도검거율       살인검거율      절도검거율      폭력검거율
구별                          ...
강남구  449  21     13   3850  ...   85.714286   76.923077  42.857143  86.484594
강동구  156   6      4   2366  ...  100.000000   75.000000  33.347422  82.890855
강북구  153  14      7   1434  ...   92.857143  100.000000  43.096234  88.637222
강서구  262  13      7   2096  ...  100.000000  100.000000  60.114504  84.752105
관악구  320  12      9   2706  ...  100.000000   88.888889  30.561715  80.109157

[5 rows x 10 columns]

##### 2-5. 정규화 / 표준화 : 수치 데이터에 대한 rescaling

- 정규화(Normalization)
  - 데이터의 상대적인 크기에 대해 영향을 줄이기 위해 데이터 범위를 0 ~ 1로 변환
  - (측정값 - 최소값) / (최대값 - 최소값)

- 표준화(Standardization)
  - 데이터가 평균으로부터 얼마나 떨어져 있는지 나타내는 값으로, 특정 범위를 벗어난 데이터는 이상치로 간주
  - (측정값 - 평균) / 표준편차

In [44]:
##### Normalization

from sklearn import preprocessing
min_max_scaler = preprocessing.MinMaxScaler()