<a href="https://colab.research.google.com/github/Junjaee/Study/blob/main/Python/01_%EB%B3%80%EC%88%98%EC%99%80_%EC%9E%90%EB%A3%8C%ED%98%95.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 1. 변수의 정의 : 임시 기억(저장) 공간

## 2. 변수의 톡징
  + 묵시적 선언 - 선언문을 사용하는 것이 아니라 디폴트 규칙에 의해서 변수에 속성을 부여함(변수를 선언하지 않고 사용)
  + 동적 바인딩 - 유형을 마음대로 변경 가능(ex.  정수형 저장 후 실수형 저장)
  + immutable(불변성) - 변수 안의 데이터는 수정할수 없음(ex. int, str, tuple) <-> (ex. list, dict)

In [ ]:
a = 10
print(a)

a = '가나다'
print(a)

a = 3.14
print(a)

a = True
print(a)

10
가나다
3.14
True

## 3. Data Type

* 종류
    1. 기본 자료형
      * int 정수
      * float 실수
      * str 문자열
      * bool 논리(참 or 거짓)
    2. 집합 자료형
      * list
      * tuple
      * dict
      * set

---


(1) str

In [ ]:
a = 10
type(a)

a = '10'
type(a)

a = "안녕하세요"
type(a)


# """를 이용해 줄을 띄어도 상관없이 문장을 사용
a = """안녕하세요, 
    저는 홍길동입니다. 
    안녕히 계세요"""

print(a)

안녕하세요,
    저는 홍길동입니다.
    안녕히 계세요

In [ ]:
print(a[:3])

안녕하

In [ ]:
#### 특수문자(제어문자) : \문자
# \n : 줄바꿈
# \t : tap간격 띄어쓰기


a = "이것은 파이썬입니다. \n열심히 공부합시다."
print(a)

b = "현재 시간은 \t9시 입니다."
print(b)

c = "\"\\t는 탭키의 역할이다\""
print(c)

이것은 파이썬입니다.
열심히 공부합시다.
현재 시간은 	9시 입니다.
"\t는 탭키의 역할이다"

In [ ]:
# \를 줄바꿈의 용도로 사용

a = '10 + 2 - 3 + 5 + 6 * \
7'

print(a)

10 + 2 - 3 + 5 + 6 * 7

In [ ]:
# 문자열을 연결하기

a = "python"
b = " is fun"
c = " and great"

d = a,b,c
print(d)

e = a + b + c
print(e)

('python', ' is fun', ' and great')
python is fun and great

In [ ]:
# 문자열 곱하기(반복)

print(a * 3)

pythonpythonpython

In [ ]:
# 문자열의 길이

print(len(a))
print(len(b))
print(len(c))

6
7
10

In [ ]:
# 인덱싱(indexing) : 원하는 문자에 접근할 수 있는 방법 제공

a = "Life is too short, You need python"

print(a[5])
print(a[10])
print(a[-2]) # 맨끝에서부터 왼쪽으로 진행
print(a[len(a)-1])

i
o
o
n

In [ ]:
# 슬라이싱(Slicing) : [시작위치 : 끝위치]

print(a[0:6])
print(a[:6])
print(a[6:])
print(a[:])
print(a[19: -7])

Life i
Life i
s too short, You need python
Life is too short, You need python
You need

In [ ]:
# step : [시작위치 : 끝위치 : 간격]

print(a[::1])
print(a[::2])
print(a[::3])
print(a[::-1])

Life is too short, You need python
Lf stosot o edpto
Lesosr ue tn
nohtyp deen uoY ,trohs oot si efiL

In [ ]:
# 수정 불가
a = "pition"
#a[1] = 'y'

a[:1] + 'y' + a[2:]

'pytion'

In [ ]:
### 문자열 관련 함수

# count()

str1 = "홍길동, 홍경래, 홍장군, 입경업, 신돌석"

print(len(str1))
print(str1.count("홍"))
print("-------------------------------------")

# join()

str1 = "abcdefg"
str2 = ",".join(str1)
print(str2)
print("-------------------------------------")

# split()
str1 = "홍길동, 홍경래, 홍장군, 입경업, 신돌석"
print(str1.split(","))
print("-------------------------------------")

# find() : 첫번째로 찾는 것이 몇번째 위치에 있는지 알려줌, index()
print(str1.find("홍"), str1.find("길"))
print(str1.index("홍"), str1.index("길"))

23
3
-------------------------------------
a,b,c,d,e,f,g
-------------------------------------
['홍길동', ' 홍경래', ' 홍장군', ' 입경업', ' 신돌석']
-------------------------------------
0 1
0 1

---
#### (3) list
* [] 사용
* 임의의 객체를 순차적으로 저장하는 집합적 자료형
* 인덱스 사용
* mutable

In [ ]:
### 복사 (얕은 복사, 깊은 복사)

a = [1, 2, 3, 4, 5]
b = a
b[0] = 10
print(a)
print(b)

print("-------------------------------")

a = [1, 2, 3, 4, 5]
# b = a[0:5]
b = a[:]

b[0] = 10
print(a)
print(b)

[10, 2, 3, 4, 5]
[10, 2, 3, 4, 5]
-------------------------------
[1, 2, 3, 4, 5]
[10, 2, 3, 4, 5]

In [ ]:
### 추가하기 : insert(), append(), extend()

a = [1, 2, 3]
print(a)

a.insert(0, 0)
print(a)

a.append(4)
print(a)

a.extend([5])
# 리스트 + 리스트
print(a)

[1, 2, 3]
[0, 1, 2, 3]
[0, 1, 2, 3, 4]
[0, 1, 2, 3, 4, 5]
[0, 1, 2, 3, 4, 5, 6]

In [ ]:
### 정렬

a = [1, 4, 3, 2]
# a.sort()
# print(a)

print(sorted(a))
print(a)

a.reverse()
print(a)

[1, 2, 3, 4]
[1, 4, 3, 2]
[2, 3, 4, 1]

In [ ]:
### 제거

# 범위를 지정해서 삭제
a = [1, 2, 3, 1, 2, 3]
a[1:3] = []
print(a)

# 특정 값을 찾아서 삭제
a = [1, 2, 3, 1, 2, 3]
a.remove(3)
print(a)

# 위치를 찾아서 삭제
a = [1, 2, 3, 1, 2, 3]
del a[4]
print(a)

# 전체 데이터 삭제
a = [1, 2, 3, 1, 2, 3]
a[:] = []
print(a)

a = [1, 2, 3, 1, 2, 3]
del a
# 변수 자체도 삭제해버림
# print(a)

# stack
# LIFO 구조 : 나중에 들어간 데이터 먼저 꺼내고, 먼저 들어간 데이터 나중에 꺼낸다 -> 임시용 메모리
# 데이터를 넣은 동작을 push, 데이터를 빼는 동작을 pop라고 한다.

# pop()은 리스트 맨 마지막 요소을 돌려주고 그 요소는 삭제한다.
# pop(x)는 리스트의 x번째 요소를 돌려주고 그 요소는 삭제한다.
a = [1, 2, 3]
b = a.pop()
print(a)
print(b)

a.pop()
print(a)

[1, 1, 2, 3]
[1, 2, 1, 2, 3]
[1, 2, 3, 1, 3]
[]
[1, 2]
3
[1]

In [ ]:
### 검색

a = [1, 2, 3, 4, 5]

print(a.index(4))
print(2 in a)

3
True

---
#### (4) tuple

* ( ) 사용
* immuutable -> 수정불가!
* 나머지는 list와 동일

In [ ]:
a = ('a', 'b', 'c', 'd')
print(a)
print(type(a))
print(len(a))
print(a.count('c'))
print(a.index('b'))

('a', 'b', 'c', 'd')
<class 'tuple'>
4
1
1

In [ ]:
#굳이 튜플을 수정하고 싶다면...
#a[1] = 10
b = list(a)
print(b)
b[1] = 10
print(b)
a = tuple(b)
print(a)

['a', 'b', 'c', 'd']
['a', 10, 'c', 'd']
('a', 10, 'c', 'd')

In [ ]:
# packing과 unpacking

a = 10, 20, 30
print(a)

a1, a2, a3 = a
print(a1, a2, a3)

(10, 20, 30)
10 20 30

---
#### (5) dict (dictionary)

* 순서가 없다
* {키 : 값}
* 키를 이용해서 값을 조회

In [2]:
a = {"name" : "홍길동", "tel" : "111-1111", "age" : 25}
print(a)
print(type(a))
a['name']

{'name': '홍길동', 'tel': '111-1111', 'age': 25}
<class 'dict'>

'홍길동'

In [4]:
print(a["name"])

홍길동

In [8]:
print(a.keys())
print(a.values())
print(a.items())

dict_keys(['name', 'tel', 'age'])
dict_values(['홍길동', '111-1111', 25])
dict_items([('name', '홍길동'), ('tel', '111-1111'), ('age', 25)])

In [11]:
b = a.items()
print(type(b))

c = list(a.items())
print(c)
print(type(c))
print(c[0], c[0][0])

<class 'dict_items'>
[('name', '홍길동'), ('tel', '111-1111'), ('age', 25)]
<class 'list'>
('name', '홍길동') name

In [12]:
# 수정

a["name"] = "임꺽정"
print(a)

# dict는 수정 가능하다

{'name': '임꺽정', 'tel': '111-1111', 'age': 25}

In [18]:
# 추가

a["hobby"] = ["낚시", "여행"]
print(a)

{'name': '임꺽정', 'tel': '111-1111', 'age': 25, 'hobby': ['낚시', '여행']}

In [19]:
# 삭제

del a["tel"]
print(a)

{'name': '임꺽정', 'age': 25, 'hobby': ['낚시', '여행']}

In [20]:
# 변수만 삭제

a.clear()
print(a)

{}

In [24]:
# 데이터 가져오기 : get()

a = {"name" : "홍길동", "tel" : "111-1111", "age" : 25}
print(a["name"])
print(a.get("name"))

print(a.get("hobby", "독서"))
# 키가 없을경우 디폴트 값을 지정한다.

홍길동
홍길동
독서

---
#### (6) set

* {} 사용
* 순서가 없다
* **중복 불가**

In [28]:
a = {1, 2, 3, 4, 2, 4}
print(a)
print(type(a))

{1, 2, 3, 4}
<class 'set'>

In [27]:
#print(a[0])
b = list(a)
print(b[0])

1