<a href="https://colab.research.google.com/github/Junjaee/Study/blob/main/Python/02_%EC%A0%9C%EC%96%B4%EB%AC%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 1. 입력 기능

In [2]:
name = input("당신의 이름은?")
print("안녕하세요! {}님 어서오세요".format(name))

당신의 이름은?신준재
안녕하세요! 신준재님 어서오세요

In [4]:
num1 = input("첫번째 숫자 : ")
num2 = input("두번째 숫자 : ")

num1 = int(num1)
num2 = int(num2)

print("결과 : ", num1 + num2)

첫번째 숫자 : 1
두번째 숫자 : 2
결과 :  3

---
## 2. 제어문

    1) 조건문
        - if
        - switch

    2) 반복문
        - while
        - for

---
### (1)IF

    1) if 조건식:
            문장
            ...
        
       if 조건식: 문장
    
    2) if 조건식:
            문장
            ...
       else:
            문장
            ...

    3) if 조건식:
            문장
            ...
       elif 조건식:
            문장
            ...
       else:
            문장
            ...

    4) 조건문의 중첩(nested) - 완전히 포함된 상태
        if 조건문:
            문장
            ...
            if 조건문:
                문장
                ...

In [24]:
# 입력받은 숫자가 짝수/홀수인지 판별하는 프로그램

num1 = int(input("숫자 : "))

if num1 % 2 == 0:
  print("짝수")

if num1 % 2 !=0 : print("홀수")

숫자 : 125
홀수

In [36]:
num1 = int(input("숫자 : "))

if num1 % 2 == 0:
  print(num1, "은 짝수")

else:
  print(num1, "은 홀수")

숫자 : 12
12 은 짝수

In [77]:
# 입력받은 값이 a, b, c, d 이면 "정답"이라고 출력하고 그렇지 않으면 "오답"이라고 출력

x = input("알파벳을 입력해주세요 : ")

if x == "a" or x == "b" or x == "c" or x == "d":
  print("정답")
else:
  print("오답")

알파벳을 입력해주세요 : a
정답

In [93]:
num1 = input("값 : ")

if num1 == ("a" or "b" or "c" or "d"):
    print("정답")
else:
    print("오답")

print("======================")

ans = input("답을 입력하세요.")
if ans in ("a", "b", "c", "d"):
    print("정답")
else: print("오답")

print("======================")

answer = input("답을 입력하세요.")

correct = ('a', 'b', 'c', 'd')
if correct.count(answer) > 0:
  print("정답")
else:
  print("오답")

print("======================")

if answer >== 'a' and answer <= 'd':
  print("정답")
else:
  print("오답")

값 : a
정답
======================
답을 입력하세요.
오답
======================
답을 입력하세요.v
오답

In [98]:
# 아스키 코드

print(ord('a'), ord('b'), ord('A'), ord('B'))
print(chr(97), chr(98), chr(65), chr(66))

97 98 65 66
a b A B

In [ ]:
# 다중 if

avg = 73

if avg >= 90:
  print("A")
elif avg>=80:
  print("B")
elif avg>=70
  print("C")
elif avg>=60
  print("D")
elif:
  print("F")

In [2]:
# 조건문의 중첩

a, b, c = 8, 10, 3

if a > b:
  if a > c:
    print("a가 제일 크다")
  else:
    print("c가 제일 크다")
else:
  if b > c:
    print("b가 제일 크다")
  else:
    print("c가 제일 크다")

print("-----------------------------")

id = input("아이디 : ") # tiger
pw = input("패스워드 : ") # 1111

if id != "tiger":
  if pw != "1111":
    print("아이디와 패스워드 오류입니다")
  else:
    print("아이디 오류입니다")
else:
  if pw != "1111":
    print("패스워드 오류입니다")
  else:
    print("로그인 되었습니다")

b가 제일 크다
-----------------------------

In [13]:
import random

random.randint(0, 10)

10

In [ ]:
# 가위 바위 보 게임

"""
(가위, 바위, 보) 중에서 하나를 입력 : 가위(엔터)
컴퓨터 : 보, 사용자 : 가위 가위 바위 보 게임
사용자 승
"""

In [29]:
import random
import sys

print("가위 바위 보 게임\n")
# 0 : 가위, 1 : 바위, 보 : 2
client = input("(가위, 바위, 보) 중에서 하나를 입력 : ")
if client == "가위":
  a = 0
elif client == "바위":
  a = 1
elif client == "보":
  a = 2
else:
  sys.exit("입력 오류입니다.")

  
b = random.randint(0, 2)

if b == 0:
  print("상대방은 가위입니다")
elif b == 1:
  print("상대방은 바위입니다")
else:
  print("상대방은 보자기입니다")

if a == 0:
  if b == 0:
    print("비겼습니다")
  elif b == 1:
    print("졌습니다")
  else:
    print("이겼습니다")

if a == 1:
  if b == 0:
    print("이겼습니다")
  elif b == 1:
    print("비겼습니다")
  else:
    print("졌습니다")

if a == 2:
  if b == 0:
    print("졌습니다")
  elif b == 1:
    print("이겼습니다")
  else:
    print("비겼습니다")

가위 바위 보 게임

(가위, 바위, 보) 중에서 하나를 입력 : 가위
상대방은 바위입니다
졌습니다

In [106]:
print("가위 바위 보 게임\n==================")

import random
import sys

# 0 : 가위, 1 : 바위, 보 : 2

client = input("(가위, 바위, 보) 중에서 하나를 입력 : ")
if client == "가위":
  a = 0
elif client == "바위":
  a = 1
elif client == "보":
  a = 2
else:
  sys.exit("입력 오류입니다.")

  
b = random.randint(0, 2)

if b == 0:
  print("상대방은 '가위'입니다")
elif b == 1:
  print("상대방은 '바위'입니다")
else:
  print("상대방은 '보'입니다")

if a - b == 1 or a - b == -2:
  print("이겼습니다")

if a - b == -1 or a - b == 2:
  print("졌습니다")

if a == b:
  print("비겼습니다")

가위 바위 보 게임
==================
(가위, 바위, 보) 중에서 하나를 입력 : 가위
상대방은 '보'입니다
이겼습니다

---
### (2) while

+ 문법

    while 조건식:
        문장
        ...

In [8]:
print("**********")
print("*"*10)

cnt = 0
while cnt < 10:
  cnt += 1
  print("*", end = "")
print("\n")

cnt = 0
while cnt < 10:
  cnt += 1
  print("*", end = "\t")

**********
**********
**********

*	*	*	*	*	*	*	*	*	*

In [27]:
# 1부터 10까지의 합계

a = 0
b = 0

while a < 11:
  b += a
  a += 1

print(b)

55

In [34]:
# 2의 10승 : 1024

cnt = 0
sum = 1

while cnt < 10:
  sum *= 2
  cnt += 1

print("결과 :", sum)

결과 : 1024

---
### (3) for

+ 문법

    for 변수 in 집합자료형:
        문장
        ...

In [45]:
data = [10, 20, "홍길동", 3.14, True]

cnt = 0

while cnt < 5:
  print(data[cnt])
  cnt += 1
print("--------------\n")

for val in data:
  print(val)
print("--------------\n")

for i in range(5):
  print(data[i])
print("--------------\n")

for i in range(10):
  print("*", end = "")

10
20
홍길동
3.14
True
--------------

10
20
홍길동
3.14
True
--------------

10
20
홍길동
3.14
True
--------------

**********

---
#### (4) 반복문의 강제 종료

  * break : 완전 종료
  * continue : 일시 종료

In [50]:
for v in range(10):
  if v == 5:
    break
  print(v)
print("---------------\n")

for v in range(10):
  if v == 5:
    continue
  print(v)
print("---------------\n")

cnt + 0
while True:
  if cnt == 20:
    break
  print("*", end = "")
  cnt += 1

0
1
2
3
4
---------------

0
1
2
3
4
6
7
8
9
---------------

***************

---
#### (5) 반복문의 중첩

In [51]:
"""
**********
**********
**********
"""

for v1 in range(3): # 행의 반복 횟수
  for v2 in range(10): # 열의 반복 횟수
    print("*", end = "")
  print()

**********
**********
**********

In [59]:
"""
*
**
***
****
*****
"""

for v1 in range(6):
  for v2 in range(v1):
    print("*", end = "")
  print()
print("---------------\n")

i = 1
for v1 in range(6):
  for v2 in range(i):
    print("*", end = "")
  i += 1
  print()

*
**
***
****
*****
---------------

*
**
***
****
*****
******

In [107]:
print("\n==================")
"""
    *          
   ***          
  *****        
 *******       
*********      
"""

i = 1
for v1 in range(5): 
  for blank in range(5-i): # 빈칸
    print(" ", end = "")
  for v2 in range(2*i-1): # 별
    print("*", end = "")
  i += 1
  print()

==================
    *
   ***
  *****
 *******
*********

---
### (6) List Comprehension

In [ ]:
# [0 ~ 9]

result = []
for i in range(10):
  result.append(i)

print(result)

###########################################

result = [i for i in range(10)]
print(result)

###########################################

result = [i for i in range(10) if i%2 == 0]
print(result)

###########################################

c1 = ["A", "B", "C"]
c2 = ["D", "E", "A"]

result = [i+j for i in c1 for j in c2]
print(result)

###########################################

c1 = ["A", "B", "C"]
c2 = ["D", "E", "A"]

result = [i+j for i in c1 for j in c2 if i != j]
print(result)

###########################################

c1 = ["A", "B", "C"]
c2 = ["D", "E", "A"]

result = [[j+i for i in c2] for j in c1]
print(result)

###########################################

result = []
temp = []
for row in c1:
  for col in c2:
    temp.append(row+col)

  result.append(temp)
  temp = []

print(result)

###########################################

words = "some where over the rainbow way up high".split()
result = [[word.upper(), word,len(word)]for word in words]
for word in result:
  print(word)

In [ ]:
---
#### (7) 실행 파일 만들기(exe파일 만들기)

+ pyinstall, py2exe.....
+ pip install py installer
+ https://media.readthedocs.org/pdf/pyinstaller/cross-compiling/pyinstaller.pdf
+ pyinstaller 파일명.py
+ pyinstaller -F 파일명.py (pyinstaller --onefile 파일명.py)

---
#### 문제1

전자계산기 프로그램을 반복문을 이용하여 업그레이드
(끝나는 조건은 연산자에 x를 입력하면 종료)

---
#### 문제2

가위바위보 게임을 반복문을 이용하여 업그레이드<br>
(끝나는 조건은 x나 q를 입력하면 종료)

끝날 때 결과에 ?승 ?패를 출력

---
#### 문제3

숫자를 입력받아 짝수의 합과 홀수의 합을 구하시오.(0을 입력하면 종료)

숫자1: 2<br>
숫자2: 3<br>
숫자3: 1<br>
숫자4: 0

--------

짝수의 합:?<br>
홀수의 합:?

---
#### 문제4

숫자 맞추기 게임

예시)
1부터 100사이의 숫자를 맞추시오

숫자 입력 : 50
낮음!

숫자 입력 : 75
낮음!

...

숫자 입력 : 89<br>
정답입니다. 시도 횟수는 ?번입니다.

In [ ]:
#### 문제5

"""
친구 관리 프로그램
====================

1.친구 리스트 출력
2.친구 추가
3.친구 삭제
4.이름 변경
9.종료
메뉴를 선택 : 2 (엔터)
이름을 입력 : 홍길동 (엔터)
-----------------------
1.친구 리스트 출력
2.친구 추가
3.친구 삭제
4.이름 변경
9.종료
메뉴를 선택 : 2 (엔터)
이름을 입력 : 임꺽정 (엔터)
-----------------------
1.친구 리스트 출력
2.친구 추가
3.친구 삭제
4.이름 변경
9.종료
메뉴를 선택 : 1 (엔터)
["홍길동", "임꺽정"]
----------------------
1.친구 리스트 출력
2.친구 추가
3.친구 삭제
4.이름 변경
9.종료
메뉴를 선택 : 4 (엔터)
변경할 이름 선택 : 홍길동 (엔터)
변경하고 싶은 이름 입력 : 홍길순 (엔터)
-------------------------------
1.친구 리스트 출력
2.친구 추가
3.친구 삭제
4.이름 변경
9.종료
메뉴를 선택 : 1 (엔터)
["홍길순", "임꺽정"]
-------------------------------
1.친구 리스트 출력
2.친구 추가
3.친구 삭제
4.이름 변경
9.종료
메뉴를 선택 : 3 (엔터)
삭제할 이름 입력 : 홍길순
------------------------------
"""