<a href="https://colab.research.google.com/github/Junjaee/Study/blob/main/Python/03_%ED%95%A8%EC%88%98.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### 1. 함수의 정의

+ 일정한 작업을 수행하는 코드 블럭


### 2. 함수의 장점

+ 반복적인 코드를 없애주어 전체 코드의 길이를 짧게 만들어 준다.(재사용)
+ 프로그램의 유지 보수를 쉽게 만들어준다.


### 3. 함수의 구현


```
def 함수명(...):
    코드정의
    ...
    [return...]
```

### 4. 함수의 호출 방식

    1) 인자(인수)가 없는 방식
    2) 인자가 있는 방식
       매개변수 : parameter
       실인자 : argument
    3) 반환값(return value)이 있는 방식
    4) return의 두 가지 기능
       - 값을 반환 : 값은 1개만 반환
       - 함수의 강제 종료


### 5. 함수의 설계

    1) 단일 기능
    2) 재사용성


### 6. 함수의 종료

    1) 사용자 정의 함수(User Define Function)
    2) 내장 함수(Built-in)
    3) 외장 함수












    aaasd

In [ ]:
def line(i,type):
    for v in range(i):
       print(type, end = "")

    print()

line(30,"=")
print("친구관리 프로그램")
line(30,"*")
print("1. 리스트 출력")
print("2. 친구 추가")
print("3. 종료")
line(30,"'")

==============================
친구관리 프로그램
******************************
1. 리스트 출력
2. 친구 추가
3. 종료
''''''''''''''''''''''''''''''

In [ ]:
num1, num2 = 10, 5

print("두수의 교환")

temp = num1
num1 = num2
num2 = temp

# 정렬의 기본이 되는 알고리즘(swap)

print("결과 :", num1, num2)

####################################

두수의 교환
결과 : 5 10

In [ ]:
def swap(num1,num2):
  # temp = num1
  # num1 = num2
  # num2 = temp

  num1, num2 = num2, num1 # 병렬로 한번에 처리, Python만 사용 가능
  
  return num1, num2  # 값을 반환해주기

  print("이 문장이 보이는가?") # 시행이 되지 않기 때문에 보이지 않는다

####################################

print("두수의 교환")

#n1, n2 = swap(5, 10)
#print("결과 :", n1, n2)

print("결과 :", swap(5, 10)) # 값을 반환받아 계속 사용할게 아니라면 바로 출력도 가능

두수의 교환
결과 : (10, 5)

---

#### 파이썬에서 함수를 지원하기 위한 문법

In [ ]:
### 변수의 유효(생존) 범위 : 지역변수(함수 내의 변수), 전역변수

player = "전국 대표" # 전역변수

def funcSoccer():
  global player # 함수 안의 player를 전역변수로 선언한다

  name = "홍길동" # 지역변수
  player = "지역 대표" # 지역변수
  print(name, player)

##########################

print(player)
funcSoccer()
print(player)

전국 대표
홍길동 지역 대표
지역 대표

In [ ]:
### default 인수

def line(i = 10):
  for v in range(i):
    print("=", end = "")

  print()

def hello1(name = None):
    if name == None:
      print("반드시 이름을 입력해야 합니다")
      return
    print("안녕하세요 %s님" %name)

def hello2(name, age, addr = "서울"):
# def hello2(name, age, addr = "서울"):   # 반드시 디폴트 인수는 맨 뒤에서부터 채워야한다. 앞에서부터 채우면 오류!
    print("안녕하세요~ {}에 사는 {}님... 당신의 나이는 {}세 입니다"
          .format(addr, name, age))
#########################

line(20)
line(30)
line()

hello1("홍길동")
hello1()

hello2('홍길동', 30, '서울')
hello2('홍길동', 30)
hello2(addr = "서울", age = 40, name = "홍길동")

====================
==============================
==========
안녕하세요 홍길동님
반드시 이름을 입력해야 합니다
안녕하세요~ 서울에 사는 홍길동님... 당신의 나이는 30세 입니다
안녕하세요~ 서울에 사는 홍길동님... 당신의 나이는 30세 입니다
안녕하세요~ 서울에 사는 홍길동님... 당신의 나이는 40세 입니다

In [ ]:
### 가변 인수

# * : 곱셈, 반복, 가변인수(매개변수에 쓰일때, packing), 언패킹(unpacking)
# ** : 거듭제곱, 가변인수(매개변수)


def greeting(*name): # *을 넣어주면 가변 인수
    print(name, "안녕하세요")
    print(type(name))

def info(weight, height, name, **other):  # **로 dict형식으로 묶어서 내보내줌
    print(weight, height, name)
    print(other)
#######################################  

greeting("홍길동")
greeting("홍길동", "임꺽정", "신돌석")

a, b, c = ([1,2], [3,4], [5,6])
print(a, b, c) #언패킹


a = ([1,2], [3,4], [5,6])
print(*a) # *을 이용하여 언패킹

info(75, 175, "홍길동")
info(85, 175, "홍길동", age = 30, addr = "서울", blood = "B")

('홍길동',) 안녕하세요
<class 'tuple'>
('홍길동', '임꺽정', '신돌석') 안녕하세요
<class 'tuple'>
[1, 2] [3, 4] [5, 6]
[1, 2] [3, 4] [5, 6]
75 175 홍길동
{}
85 175 홍길동
{'age': 30, 'addr': '서울', 'blood': 'B'}

---
#### 내장함수

In [ ]:
#---------------------------------------------------------
# all(), any() : and, or 연산자(0과 빈값들은 False로 처리)
#---------------------------------------------------------

print(all([a, 2, 3, -1, -2]))
print(all([a, 2, 3, 0, -2]))
print(all([a, 2, 3, "", -2]))
print(all([a, 2, 3, None, -2]))

print(any([a, 2, 3, -1, -2]))
print(any([a, 2, 3, 0, -2]))
print(any([a, 2, 3, "", -2]))
print(any([a, 2, 3, None, -2]))

True
False
False
False
True
True
True
True

In [ ]:
#------------------------------------------------------------------------------
# enumerate(iterator) : 순서가 있는 자료형을 입력받아 인덱스 값을 포함해서 리턴
#------------------------------------------------------------------------------

for i in enumerate(["홍길동", "임꺽정", "Tom", "Jerry"]):
  print(i)

print()

for idx, i in enumerate(["홍길동", "임꺽정", "Tom", "Jerry"]):
  print(idx, i)

print()

for idx, i in enumerate(["홍길동", "임꺽정", "Tom", "Jerry"], start = 100):
  print(idx, i)

enumerat

(0, '홍길동')
(1, '임꺽정')
(2, 'Tom')
(3, 'Jerry')

0 홍길동
1 임꺽정
2 Tom
3 Jerry

100 홍길동
101 임꺽정
102 Tom
103 Jerry

In [ ]:
#---------------------------------------------------------------------
# eval(expression) : 표현식을 파이썬에서 실행 가능하게 만들어주는 역할
#---------------------------------------------------------------------

print("3+4")

print(eval("3+4"))
print(int("3")+int("4"))

expr = input("수식입력 : ")
print(eval(expr))

3+4
7
7
수식입력 : 1+1
2

'divmod(9, 4)'

In [ ]:
#---------------------------------------------------------------------
# divmod : 몫과 나머지를 표현해주는 함수
#---------------------------------------------------------------------


# divmod(9, 4)
print(eval("divmod(9, 4)"))

(2, 1)

In [8]:
#---------------------------------------------------------------------------------
# map(function, iterator) : 집합의 각 요소가 함수에 의해 수행된 결과를 묶어서 리턴
#---------------------------------------------------------------------------------

def calc(x):
    return x + 2

##########################

a = calc(10)
print(a)

data = [10, 20, 30, 40, 50]
result = []
for v in data:
    temp = calc(v)
    result.append(temp)

print(result)

print(list(map(calc, data)))

12
[12, 22, 32, 42, 52]
[12, 22, 32, 42, 52]

In [6]:
#--------------------------------------------------------------
# zip(iterator) : 동일한 갯수로 이루어진 자료형을 묶어주는 역할
#--------------------------------------------------------------

a = ["a1", "a2", "a3"]
b = ["b1", "b2", "b3"]
c = ["c1", "c2", "c3"]

print(zip(a, b, c))
print(list(zip(a, b, c)))

for v in zip(a, b, c):
    print(v)

for i, (v1, v2, v3) in enumerate(zip(a, b, c)):
    print(i, v1, v2, v3)

# a = ["a1", "a2", "a3"]
# b = ["b1", "b2", "b3"]
# c = ["c1", "c2", "c3", "c4"] # c4는 변환되지 않는다

# print(zip(a, b, c))
# print(list(zip(a, b, c)))

<zip object at 0x7ffae5d6a7d0>
[('a1', 'b1', 'c1'), ('a2', 'b2', 'c2'), ('a3', 'b3', 'c3')]
('a1', 'b1', 'c1')
('a2', 'b2', 'c2')
('a3', 'b3', 'c3')
0 a1 b1 c1
1 a2 b2 c2
2 a3 b3 c3

---
### 외장함수

+ import 모듈명

In [5]:
import sys

# print(dir(sys))
print("====================================")
print(sys.path)
print(sys.platform)
print(sys.version)

====================================
['', '/content', '/env/python', '/usr/lib/python37.zip', '/usr/lib/python3.7', '/usr/lib/python3.7/lib-dynload', '/usr/local/lib/python3.7/dist-packages', '/usr/lib/python3/dist-packages', '/usr/local/lib/python3.7/dist-packages/IPython/extensions', '/root/.ipython']
linux
3.7.10 (default, Feb 20 2021, 21:17:23)
[GCC 7.5.0]

In [9]:
import os

# print(dir(os))
print("====================================")
print(os.getcwd())

====================================
/content

In [12]:
from google.colab import files 
src = list(files.upload().values())[0] 
open('mymodule.py','wb').write(src) 
import mymodule

# 함수 불러와서 사용하기

Saving mymodule.py to mymodule (1).py

In [17]:
print(dir(mymodule))

print(mymodule.sum(10, 20))
mymodule.info(75, 185, name = "홍길동", age = 30, addr = "서울시 강남구")
print(mymodule.company)

['__builtins__', '__cached__', '__doc__', '__file__', '__loader__', '__name__', '__package__', '__spec__', 'company', 'info', 'sum']
30
키 : 185
몸무게 : 75
기타 {'name': '홍길동', 'age': 30, 'addr': '서울시 강남구'}
파이썬 주식회사

In [62]:
import datetime

# 현재 시간
today = datetime.date.today()
print(today, ", ", today.year, ", ", today.month, ", ", today.day)

print("==================================")

# 현재 날짜
ctime = datetime.datetime.today()
print(ctime)

print("==================================")

# 날짜와 시간을 계산
mydays = datetime.timedelta(days = -1)
print(mydays)
print("어제 : {}".format(today + mydays))

print("==================================")

# 한국 시간
myhours = datetime.timedelta(hours = +9)
print("한국시간 : {}".format(ctime + myhours))

print("==================================")

# 날짜의 형식 지정
print(today.strftime("%m/%d/%Y"))
print(ctime.strftime("%Y-%m-%d %H:%M:%S"))

print("==================================")

# 날짜의 형식 변환날짜의 형식 변환
# (날짜를 문자열로 : strftime(), 문자열을 날짜로 : strptime())

print(type(today.strftime("%m/%d/%Y")))

print(type(ctime))
t = ctime.strftime("%Y-%m-%d %H:%M:%S")
print(type(t))

strDate = "2021-5-5 11:56:50"
print(type(strDate))
d = datetime.datetime.strptime(strDate, "%Y-%m-%d %H:%M:%S")
print(type(d))

2021-04-07 ,  2021 ,  4 ,  7
==================================
2021-04-07 02:41:12.320083
==================================
-1 day, 0:00:00
어제 : 2021-04-06
==================================
한국시간 : 2021-04-07 11:41:12.320083
==================================
04/07/2021
2021-04-07 02:41:12
==================================
<class 'str'>
<class 'datetime.datetime'>
<class 'str'>
<class 'str'>
<class 'datetime.datetime'>

---
### 명령행 인자(Command Line Argument)

In [ ]:
"""
파일명 : phonebook.py
데이터 : 임의로 준비
실행예시 :
    python phonebook.py 관우

    이름 : 홍관우
    전화 : 010-3333-3333
    주소 : 서울시 강서구
"""

data = [
        ["홍길동", "010-1111-1111", "서울시 강남구"],
        ["홍유비", "010-2222-2222", "서울시 서초구"],
        ["홍관우", "010-3333-3333", "서울시 송파구"],
        ["홍장비", "010-4444-4444", "서울시 강동구"],
]

In [98]:
import sys
import numpy

data = [
        ["홍길동", "010-1111-1111", "서울시 강남구"],
        ["홍유비", "010-2222-2222", "서울시 서초구"],
        ["홍관우", "010-3333-3333", "서울시 송파구"],
        ["홍장비", "010-4444-4444", "서울시 강동구"],
]
a = numpy.array(data)
name = sys.argv[1]
b = int(numpy.where(a == name)[0])

print("이름 : {}".format(data[b][0]))
print("전화 : {}".format(data[b][1]))
print("주소 : {}".format(data[b][2]))

이름 : 홍관우
전화 : 010-3333-3333
주소 : 서울시 송파구

In [113]:
import sys

data = [
        ["홍길동", "010-1111-1111", "서울시 강남구"],
        ["홍유비", "010-2222-2222", "서울시 서초구"],
        ["홍관우", "010-3333-3333", "서울시 송파구"],
        ["홍장비", "010-4444-4444", "서울시 강동구"],
]

a = data
name = sys.argv[1]

for i in range(0,len(data)):
        if name == data[i][0]:
            print("이름 : {}".format(data[i][0]))
            print("전화번호 : {}".format(data[i][1]))
            print("주소 : {}".format(data[i][2]))

---
### 재귀 함수(Recursive Function)

In [ ]:
def func():
    ...
    ...
    func()

#########################

In [77]:
def countDown(n):
    if n == 0:
       print(n)
       return
    else:
       print(n)
       countDown(n-1)

countDown(5)
##################

# countDown(5)

# for i in range(5, -1, -1):
#     countDown(i)

5
4
3
2
1
0

In [109]:
import time



def fact1(n):
    result = 1

    while n > 0:
          print(n)
          result = result * n
          n = n - 1

    return result


def fact2(n):
    if n == 1:
       return 1

    print(n)
    return n * fact2(n-1)


#############################

start_time = time.time()
fact1(10)
end_time = time.time()
print("걸린 시간 :", end_time - start_time)

print("===========")
start_time_1 = time.time()
fact2(10)
end_time_1 = time.time()
print("걸린 시간 :", end_time_1 - start_time_1)

10
9
8
7
6
5
4
3
2
1
걸린 시간 : 0.0004870891571044922
===========
10
9
8
7
6
5
4
3
2
걸린 시간 : 0.003841400146484375

---
### 파일처리(persistence 관점)

+ open(파일명(경로 포함), 모드) - mode : r, w, a, rb, wb, ab
+ close()
+ 읽어올 때 : readline(), readlines(), read()
+ 저장할 때 : write()

In [134]:
# 주피터 노트북에서 실행

# f = open("mymodule.py", "r")

# print(f)

# print(type(f.readline()))
# print(f.readline())
# print(f.readline())
# print(f.readline())
# print(f.readline())
# print(f.readline())

while True:
      line = f.readline()

      if not line:
         break
      
      print(line)   


# f.close()

In [138]:
from google.colab import files
f = files.upload()

Saving filetest1.txt to filetest1 (1).txt

In [ ]:
# f = open("D:\Coding\Acorn\pythonwork\data\filetest1.txt", "r") # 상대경로
# f = open(".\data\filetest1.txt", "r") # 절대경로

In [ ]:
# f = open(".\data\filetest1.txt", "r")

# lines = f.readlines()
# print(lines)

# f.close()

# for i in lines:
#     print(i, ens = "")

# 모든 라인을 리스트로 저장한다

In [ ]:
# f = open(".\data\filetest1.txt", "r")

# data = f.read()
# print(data)
# print(type(data))

"""
1 : abcd
2 : efgh
3 : ijkl
...

"""



# f.close()

# 전체 데이터를 하나의 문자열로 묶어버린다

In [ ]:
# f = open(".\data\filetest2.txt", "w")

# f.write("이름 : 홍길동, ")
# f.write("전화 : 010-1111-1111, ")
# f.write("주소 : 서울시 강남구\n")

# f.write("이름 : 임꺽정, ")
# f.write("전화 : 010-2222-2222, ")
# f.write("주소 : 서울시 서초구\n")

# f.close

In [ ]:
# csv 형식으로 데이터 저장

# nums = [1, 2, 3, 4, 5, 6, 7, 8, 9]

# f = open("filetest3.txt", "w")
# f.write(str(nums))

# f.close()

In [ ]:
# f = open("filetest3.txt", "w")

# for i in range(len(nums)):
#     f.write(str(nums[i]) + ", ")

# f.close()

In [ ]:
# f = open("filetest3.txt", "w")

# for i in range(len(nums)):
#     if i == (len(nums)-1):
#         f.write(str(nums[i]))
#     else:
#         f.write(str(nums[i]) + ", ")


# f.close()