<a href="https://colab.research.google.com/github/Junjaee/Study/blob/main/Python/04_%ED%81%B4%EB%9E%98%EC%8A%A4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### 1. 특징

+ 묶음(block)
    - 변수(멤버 변수, 속성), 함수(멤버 함수, 메서드)
    - 여러 개의 함수를 묶어서 좀 더 큰 단위의 모듈로 관리

  
+ 설계도(추상적)
    - 인스턴스(instance), 객체(Object)


+ 사용자 정의 자료형을 만들 수 있는 도구

+ class는 첫글자가 대문자, 함수는 첫글자가 소문자

+ 객체의 조건
    - 상속성(Inheritance)
    - 다형성(Polymorphism) : 여러개의 함수를 전부 알지 않아도 이용 가능
    - 캡슐화(Capsulation) : 편리함

+ 객체 설계 5원칙 : SOLID

---
### 2. 클래스 작성 방법

```
class 이름:
      변수
      함수

또는

class 이름(...):
      변수
      함수
```

In [ ]:
class Test:
      a = 10

      def show(self):
          print("Test 클래스")


##################################################

# Test() -> 인스턴스(메모리에 테스트라는 클래스를 생성한다)

# Test().a
# Test().show()

ob = Test() # ob라는 메모리에 저장
ob.a = 100
print(ob.a)
ob.show()

a = 10
a = 20

print(type(a))

100
Test 클래스
<class 'int'>
0

In [ ]:
### 사용자 정의 자료형
# 국적, 이름, 나이, 신장, 취미

class Person:
      nation = "한국"
      name = str()
      age = int()
      height = float()
      hobbies = []

      def show(self):
          print("국적 : ", self.nation)
          print("이름 : ", self.name)
          print("나이 : ", self.age)
          print("신장 : ", self.height)
          print("취미 : ", self.hobbies)
          print("\n========================")

##############################################

p1 = Person()
p2 = Person()
p3 = Person()

p1.nation = "한국"
p1.name = "홍길동"
p1.age = 20
p1.height = 170
p1.hobbies = ["독서", "여행"]

p2.nation = "미국"
p2.name = "워싱턴"
p2.age = 25
p2.height = 180
p2.hobbies = ["전쟁", "정치"]

p3.nation = "영국"
p3.name = "셜록"
p3.age = 230
p3.height = 175
p3.hobbies = ["추리", "바이올린"]

data = [p1, p2, p3]

# for i in range(len(data)):
#     data[i].show()

국적 :  한국
이름 :  홍길동
나이 :  20
신장 :  170
취미 :  ['독서', '여행']

========================

---
### 3. 클래스 작성 문법

+ self
    - 현재 사용중인 객체의 주소를 저장호 있는 참조 변수
    - read only

In [43]:
class Test:
      a = int()
      b = float()
      c = str()
      # 변수 따로 선언하지 않아도 상관 없다.

      def show(self):
          print(self.a, self.b, self.c)
          print("현재 주소 : ", id(self))

      def setValue(self, a, b, c):
          self.a = a
          self.b = b
          self.c = c

In [45]:
t1 = Test()
t2 = Test()
t3 = Test()

# t1.a = 10 
# t1.b = 3.14
# t1.c = "홍길동"
# print(id(t1))

# t1.setValue(10, 3.14, "홍길동")
t1.setValue(10, 3.14, "홍길동")

t2.a = 20
t2.b = 4.14
t2.c = "신길동"

t3.a = 30
t3.b = 5.14
t3.c = "감길동"


t1.show()

10 3.14 홍길동
현재 주소 :  140424025729296

---
+ 생성자(Constructor) 메서드와 소멸자(Deconstructor) 메서드
    - 객체를 생성하는 용도
    - 객체를 처음 만들 때 호출된다.(단 한번만 호출됨)
    - 초기화

In [75]:
class Test:
      a = int()
      b = str()

      def __init__(self, x, y):
          print("생성자 호출됨")
          self.a = x
          self.b = y

      def setValue(self, x, y):
          self.a = x
          self.b = y

In [76]:
t = Test(10, "홍길동")
print(t.a, t.b)

t.setValue(20, "임꺽정")
print(t.a, t.b)

생성자 호출됨
10 홍길동
20 임꺽정

In [97]:
class Test:
      a = int()
      b = str()

      def __init__(self, x = 0, y = None): # Defalut 값을 준다
          print("생성자 호출됨")
          self.a = x
          self.b = y

      def setValue(self, x, y):
          self.a = x
          self.b = y

      def __del__(self):
          print("소멸자 호출")

class Test2:
      pass

In [92]:
t = Test()
print(t.a, t.b)

t.setValue(20, "임꺽정")
print(t.a, t.b)

t1 = Test()
print(t1.a, t1.b)

t2 = Test(30)
print(t2.a, t2.b)

t3 = Test("신돌석")
print(t3.a, t3.b)

생성자 호출됨
0 None
20 임꺽정
생성자 호출됨
0 None
생성자 호출됨
30 None
생성자 호출됨
신돌석 None

In [94]:
del t3

In [101]:
ob1 = Test()
ob2 = Test2()

print(type(ob1), type(ob2))

print(isinstance(ob1, Test)) # 서로 같은 타입인지 비교해서 True, False 출력
print(isinstance(ob2, Test))
print(isinstance(ob1, Test2))
print(isinstance(ob2, Test2))

생성자 호출됨
소멸자 호출
<class '__main__.Test'> <class '__main__.Test2'>
True
False
False
True