<a href="https://colab.research.google.com/github/Junjaee/Study/blob/main/Python/%ED%8C%8C%EC%9D%B4%EC%8D%AC_%EC%8B%9C%ED%97%98_20210413.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [76]:
# 3

print("\"\\n은 엔터키 기능이다.\"")

"\n은 엔터키 기능이다."

In [77]:
# 4

a = "Life is too short, You need python"

print("결과 : ")
print(a[0:5])
print(a[8:12])
print(a[8:])
print(a[31:33])

결과 :
Life
too
too short, You need python
ho

In [75]:
# 5

data = {"name" : "홍길동", "phone" : "111-1111", "age" : 25}
data["address"] = "서울시 강남구"
print(data)

{'name': '홍길동', 'phone': '111-1111', 'age': 25, 'address': '서울시 강남구'}

In [74]:
# 6

data = [1, 2, 3, 2, 4, 6, 3, 2]
b = set(data)
data = list(b)
print(data)

[1, 2, 3, 4, 6]

In [64]:
# 7

print("동전 교환 프로그램\n==================")

coin = int(input("교환할 돈은 얼마입니까? "))

a = coin//500
a1 = coin%500

b = a1//100
b1 = a1%100

c = b1//50
c1 = b1%50

d = c1//10

e = c1%10

print("\n결과 : ", "\n오백원짜리 ===> {}개\n백원짜리 ===> {}개\n오십원짜리 ===> {}개\n십원짜리 ===> {}개\n나머지 바꾸지 못한 잔돈 ===> {}원".format(a,b,c,d,e))

동전 교환 프로그램
==================
교환할 돈은 얼마입니까? 2763

결과 :
오백원짜리 ===> 5개
백원짜리 ===> 2개
오십원짜리 ===> 1개
십원짜리 ===> 1개
나머지 바꾸지 못한 잔돈 ===> 3원

In [22]:
# 8

odd = 0
even = 0
cnt = 1
while True:
  num = int(input("숫자를 입력해 주세요(0을 입력하면 종료) : "))
  
  if num == 0:
    print("=======================")
    print("홀수의 합 : {}".format(odd))
    print("짝수의 합 : {}".format(even))
    break
  print("숫자{} : {}".format(cnt, num))
  if num%2 == 1:
    odd += num
  elif num%2 == 0:
    even += num
  cnt += 1

숫자를 입력해 주세요(0을 입력하면 종료) : 1
숫자1 : 1
숫자를 입력해 주세요(0을 입력하면 종료) : 2
숫자2 : 2
숫자를 입력해 주세요(0을 입력하면 종료) : 3
숫자3 : 3
숫자를 입력해 주세요(0을 입력하면 종료) : 4
숫자4 : 4
숫자를 입력해 주세요(0을 입력하면 종료) : 5
숫자5 : 5
숫자를 입력해 주세요(0을 입력하면 종료) : 6
숫자6 : 6
숫자를 입력해 주세요(0을 입력하면 종료) : 0
=======================
홀수의 합 : 9
짝수의 합 : 12

In [66]:
# 9

def test(num):
  try:
    a = 10/num
    print(a)
  except ZeroDivisionError:
    print("0으로 나누면 안됩니다")
    return

test(1)
test(2)
test(0)

10.0
5.0
0으로 나누면 안됩니다

In [67]:
# 10

print("여기는 커피 전문점입니다.")
print("커피는 아메리카노만 팔아요.")
print("가격은 3000원 입니다.")
print("오늘 커피 남은 양은 3잔입니다")
print("1회 주문 시 1잔 씩만 판매합니다")
print("==" * 10)
print()

coffee = 3

while True:
  money = int(input("지불할 금액 : "))  
  if money < 3000:
    print("금액이 부족합니다")
    print("남은 커피의 양은 {}잔입니다.\n".format(coffee))
  
  elif money >= 3000:
    coffee -= 1
    if money != 3000:
      print("거스름 돈은 {}원".format(money - 3000))
    print("커피 맛있게 드세요")
    print("남은 커피의 양은 {}잔입니다\n".format(coffee))

  if coffee == 0:
    print("커피가 없어요~~. 장사 끝!!!")
    break

여기는 커피 전문점입니다.
커피는 아메리카노만 팔아요.
가격은 3000원 입니다.
오늘 커피 남은 양은 3잔입니다
1회 주문 시 1잔 씩만 판매합니다
====================

지불할 금액 : 1000
금액이 부족합니다
남은 커피의 양은 3잔입니다.

지불할 금액 : 5000
거스름 돈은 2000원
커피 맛있게 드세요
남은 커피의 양은 2잔입니다

지불할 금액 : 3000
커피 맛있게 드세요
남은 커피의 양은 1잔입니다

지불할 금액 : 3000
커피 맛있게 드세요
남은 커피의 양은 0잔입니다

커피가 없어요~~. 장사 끝!!!

In [73]:
# 11

class Employee:
    num = int()
    name = str()
    salary = int()
    hobby = []
    cnt = 0
    
    def __init__(self,num,name,salary,hobby):
        Employee.cnt += 1
        
        self.num = num
        self.name = name
        self.salary = salary
        self.hobby = hobby
    
    
    @classmethod
    def getCount(cls):
        print("총 인원수 : ",Employee.cnt)
        print()

    def setSalary(self,salary):
        self.salary = salary
    
    def appendHobbies(self,hobby):
        self.hobby += (hobby)
        
    def display(self):
        print("결과 : ")
        print("사번 :",self.num)
        print("이름 :",self.name)
        print("급여 :",self.salary)
        print("취미 :", ", ".join(self.hobby))
        print()



e1 = Employee(1111, "홍길동", 1000000, ["여행", "낚시", "운동"])
e1.display()

e2 = Employee(1112, "임꺽정", 1200000, ["자전거", "볼링"])
e3 = Employee(1113, "신돌석", 1000000, ["독서"])

total = Employee.getCount()

# 세번째 사람(신돌석)의 정보 수정
e3.setSalary(2500000)
e3.appendHobbies(["피아노", "드론"])
e3.display()

결과 :
사번 : 1111
이름 : 홍길동
급여 : 1000000
취미 : 여행, 낚시, 운동

총 인원수 :  3

결과 :
사번 : 1113
이름 : 신돌석
급여 : 2500000
취미 : 독서, 피아노, 드론