<a href="https://colab.research.google.com/github/Junjaee/Study/blob/main/SQL/01_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

데이터 베이스(DBMS) : 파일 -> DBMS
====================
- Data Persistence : 파일 -> DBMS
- DataWareHouse : 정보에 입각한 의사결정을 내릴 수 있도록 분석 가능한 정보의 중앙 레포지토리
- Data Mining : 대규모로 저장된 데이터 안에서 체계적이고 자동적으로 통계적 규칙이나 패턴을 찾아내는 것

1. 제품의 종류 : Oracle, MS-SQL Server, DB2, informix, sybase, mysql, .....

2. 연결 방식
	- 로컬 DBMS : Access, SQLite
	- 네트워크 DBMS : 서버용, 클라이언트용

3. MySQL의 클라이언트 프로그램
	- 콘솔용 : mysql.exe (서버용 : mysqld.exe)
	- 윈도우용 : 
		- workbench
		- HeidiSql

4. 데이터의 저장 형태
  - 1 계층형 DB : Tree
  - 2 네트워크형 DB : Graph
  - 3 관계형 DB : Table
  - 4 객체지향형 DB
  - 5 객체관계형

5. DB 단위

  - 필드< 레코드 < 테이블 < DB < DataBank

  - Table에서 열 : 컬럼, 행 : 레코드(튜플), 하나의 데이터 : 필드

  - 데이터 개수를 물어본다면 필드가 아닌 레코드의 개수를 물어보는 것이다

6. DB 서버에 접속속소
  - 콘솔 이용
      - mysql -uroot -p(비밀번호)
      - mysql -uroot -p
      - mysql -h127.0.0.1 -uroot -p(비밀번호)
      - show databases; (sakila와 world는 샘플 DB) <br>
        use db명; <br>
        show tables; <br>
        desc 테이블명; (describe)<br>
        exit : 접속종료

  - 실습 준비
      - 1) scott.sql을 이용해서 sample data 준비
        - 접속되어 있지 않은 상태 : mysql -uroot -p < scott.sql (데이터베이스가 저장되어 있는 폴더에서 cmd를 실행시킨 뒤 데이터를 등록해 준다)
        - 접속되어 있는 상태 : source c:\경로\XXX.sql

      - 2) sakila와 world 샘플을 백업
        - mysqldump -uroot -p sakila > sakila.sql
        - mysqldump -uroot -p sakila > world.sql

7. SQL(Structured Query Language)
  - 1) DDL(Data Definition Language) : 데이터 정의어
    - CREATE
    - DROP
    - ALTER(수정)
  
  - 2) DML(Data Manipulation Language) : 데이터 조작어
    - INSERT
    - UPDATE(수정)
    - DELETE

  - 3) QL(Query Language) : 데이터 질의어
    - SELECT

  - 4) DCL(Data Control Language) : 데이터 제어어(보안, 인증, 시스템 관리, 트랜젝션 관리 등)
    - GRANT, REVOKE, ...

* 두 가지 문법
  - 1) 표준 SQL(ANSI SQL)
  - 2) 제품에 따른 SQL
    - Oracle : PL/SQL
    - MS : T-SQL

8. SELECT
  - 1) 기본 문법
    - SELECT 필드명, 필드명, ...FROM 테이블명;
      - SELECT ename, sal, deptno, job FROM emp;
    - SELECT *FROM 테이블명;(모든 필드 불러오기)
    - 필드의 가공처리(+ 숫자)
      - SELECT empno, ename, sal, sal+200 FROM emp;(sal에 200을 더해준 값을 표시해줌)

    - 필드의 alias(as를 사용하여 별명 설정)
      - SELECT ename, mgr as manager, comm as bonus FROM emp;
    - 중복 제거(distinct)
      - SELECT distinct job FROM emp;

  - 2) 확장 문법
    - 정렬 기능 : ORDER BY 필드명[ASC | DESC], 필드명, ... (ASC 오름차순, DESC 내림차순, 그냥 생략하면 오름차순)
      - 급여가 많은 순으로 이름, 급여, 부서코드 조회 <br>
        SELECT ename, sal, deptno FROM emp ORDER BY sal DESC;
      - 부서별로 급여가 적은 순으로 이름, 급여, 부서코드 조회 <br>
        SELECT ename, sal, deptno FROM emp ORDER BY deptno, sal DESC;

    - 조건 기능(레코드 필터링) : WHERE 조건문
      - 급여가 3000$ 이상인 직원의 사번, 이름, 업무, 급여를 조회 <br>
        SELECT empno, ename, job, sal FROM emp WHERE sal >= 3000;
      - 업무가 manager인 직원의 이름, 부서, 업무, 급여를 조회 <br>
        SELECT ename, deptno, job, sal FROM emp WHERE job = 'manager'; <br>
        (SQL은 index가 0이 아닌 1부터 시작)
      - 부서가 20이고 업무가 analyst인 직원의 이름, 부서, 업무, 급여를 조회 <br>
        SELECT ename, deptno, job, sal FROM emp WHERE deptno = 20 AND job = 'analyst';
      - 급여가 1500이상 2500이하를 받는 직원의 이름, 부서, 업무, 급여를 조회 <br>
        SELECT ename, deptno, job, sal FROM emp WHERE sal >= 1500 AND sal <= 2500; <br>
        SELECT ename, deptno, job, sal FROM emp WHERE sal BETWEEN 1500 AND 2500;
      - 급여가 1500이상 2500이하를 받는 직원의 이름, 부서, 업무, 급여를 조회, 단 급여가 많은 순으로 조회 <br>
        SELECT ename, deptno, job, sal FROM emp WHERE sal BETWEEN 1500 AND 2500 ORDER BY sal DESC;